<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642897530924-q6v2enktskvfijup4b1p4ejsbdoup13p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642897530924-q6v2enktskvfijup4b1p4ejsbdoup13p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>642897530924-kcrbdn371qkf8fcau6bhi5ns55oocvv3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6RR_l7sYlS26VOhim8WiF8Ci00oH-ioI</string>
	<key>GCM_SENDER_ID</key>
	<string>642897530924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omniate.mycity</string>
	<key>PROJECT_ID</key>
	<string>social-connect-2372d</string>
	<key>STORAGE_BUCKET</key>
	<string>social-connect-2372d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642897530924:ios:a7fe7401ada607c7150189</string>
	<key>DATABASE_URL</key>
	<string>https://social-connect-2372d.firebaseio.com</string>
</dict>
</plist>